<template>
    <div class="about-container">
        <div class="about"> {{ userInfo.about }} </div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import IUser from "../interfaces/IUser";

    /**
     * About Page View accessible at /about
     */
    @Component({})
    export default class About extends Vue{

        /**
         * Computed property which synchronizes
         * user info from store
         * @returns IUser
         */
        get userInfo(): IUser {
            return this.$store.getters.getUser;
        }
    }
</script>

<style lang="scss" scoped>
    .about-container {
        .about {
            padding: 24px 16px 24px 16px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            white-space: pre-line;
        }
    }
</style>
