<template>
    <div class="home-container">
        <div class="toolbar-container">
            <b-form-input v-model="project.name"
                          placeholder="Project name"
                          class="input-name"/>
            <b-form-input v-model="project.description"
                          placeholder="Project Description"
                          class="input-description"/>
            <b-button variant="primary"
                      class="add-project-button"
                      @click="addProject" >Add Project</b-button>
            <b-form-input v-model="searchCriteria"
                          placeholder="Search project by name..."
                          class="input-search"/>

        </div>
        <div v-if="projects.length > 0" class="projects-container">
            <project-card v-for="(item, index) in projects"
                          :key="index"
                          :project="item"
                          :index="index"
                          class="project-card"
                          @delete="deleteProject"/>
        </div>
        <div v-else class="no-projects"> No Projects Found!</div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import IProject from '@/interfaces/IProject';
    import ProjectCard from '@/components/ProjectCard.vue';

    /**
     * Home page view, accessible at /home
     */
    @Component({
        components: {
            'project-card': () => Promise.resolve(ProjectCard)
        }
    })
    export default class Home extends Vue{
        /**
         * Current project to add
         * @type IProject
         */
        private project: IProject = { id: 0, name: '', description: ''};
        /**
         * Search criteria string from search field
         * @type String
         */
        private searchCriteria: string = '';

        /**
         * Computed property to sync and filter projects
         * from store
         * @returns IProject[]
         */
        get projects(): IProject[] {
            const storeProjects: IProject[] = this.$store.getters.getProjects;
            return storeProjects.filter(project => project.name.toLowerCase().includes(this.searchCriteria));
        }

        /**
         * Function to add project into store and reset current one
         * to default value
         * @type void
         */
        private addProject(): void {
            this.$store.dispatch('addProject', this.project);
            this.project = {id: 0, name: '', description: ''};
        }

        /**
         * Function to delete project from store by id,
         * called by ProjectCard component's delete
         * @param e: IProject
         */
        private deleteProject(e: IProject): void {
            this.$store.dispatch('deleteProject', e.id);
        }
    }
</script>

<style lang="scss" scoped>
    .home-container {
        display: flex;
        flex-direction: column;

        .toolbar-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;

            .input-name {
                width: 20%;
                margin-right: 8px;
            }

            .input-description {
                width: 20%;
                margin-right: 8px;
            }

            .input-search {
                width: 300px;
                margin-left: auto;
            }
        }

        .projects-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            margin-top: 2%;
            margin-bottom: 4%;
            min-width: fit-content;

            .project-card {
                width: 30%;
                margin-top: 16px;

                &:not(:nth-child(3n)) {
                    margin-right: 5%;
                }
            }

        }

        .no-projects {
            margin-top: 2%;
            text-align: center;
        }
    }
</style>
