<template>
    <div class="header-container">
        <h1 class="title"> {{ title }} </h1>
        <p class="slogan"> {{ slogan }} </p>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({})
export default class AppHeader extends Vue{
    @Prop({}) title!: string;
    @Prop({}) slogan!: string;
}
</script>

<style lang="scss" scoped>
    .header-container {
        background-color: rgba(0, 0, 0, 0.1);
        padding: 16px 32px 16px 32px;
        border-radius: 4px;

        .title {

        }
        .slogan {

        }
    }
</style>
