<template>
    <div class="navigation-bar-container">
        <b-nav>
            <b-nav-item to="/home"> Home </b-nav-item>
            <b-nav-item to="/about"> About </b-nav-item>
        </b-nav>
    </div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class NavigationBar extends Vue{

}
</script>

<style scoped>

</style>
