<template>
    <div class="project-card-container">
        <div class="header">
            <div class="header-content"> {{ project.name }}</div>
        </div>
        <div class="content">
            <div class="description-content"> {{ project.description}} </div>
        </div>
        <div class="footer">
            <div class="delete-project" @click="deleteClicked"> Delete Project</div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import IProject from "../interfaces/IProject";

    /**
     * Project Card component, having title, content and footer with delete functionallity
     * @emits delete
     * @type IProject
     */
    @Component
    export default class ProjectCard extends Vue {
        /**
         * Project variable, containing id, name and description
         * @type IProject
         */
        @Prop({})private project!: IProject;

        /**
         * Event, emitted by clicking the .delete-project button
         * @emits delete
         * @type IProject
         * @returns void
         */
        deleteClicked(): void {
            this.$emit('delete', this.project);
        }
    }
</script>

<style lang="scss" scoped>
    .project-card-container {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        border: 2px solid rgba(0, 0, 0, 0.2);

        border-radius: 4px;
        word-wrap: break-word;
        .header {
            height: 50px;
            padding: 16px;
            background-color: rgba(0, 0, 0, 0.05);

            div {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .content {
            height: fit-content;
            padding: 16px;
            border-top: 2px solid rgba(0, 0, 0, 0.2);
            border-bottom: 2px solid rgba(0, 0, 0, 0.2);
            white-space: pre-line;
        }

        .footer {
            height: 50px;
            padding: 16px;
            background-color: rgba(0, 0, 0, 0.05);

            .delete-project {
                display: inline-block;
                font-size: 14px;
                color: red;
                cursor: pointer;
                -moz-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;

                &:hover {
                    color: darkred;
                }
            }
        }
    }
</style>
