<template>
    <div id="app">
        <app-header class="header"
                    :title="userInfo.title"
                    :slogan="userInfo.slogan"/>
        <navigation-bar class="navigation"/>
        <router-view/>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import NavigationBar from '@/components/NavigationBar.vue';
import AppHeader from '@/components/AppHeader.vue';
import IUser from "./interfaces/IUser";

/**
 * Main App Component
 */
@Component({
    components: {
        'navigation-bar': () => Promise.resolve(NavigationBar),
        'app-header': () => Promise.resolve(AppHeader)
    }
})
export default class App extends Vue{

    /**
     * Computed property to sync user info with store
     * @IUser
     */
    get userInfo(): IUser {
        return this.$store.getters.getUser;
    }
}
</script>
<style lang="scss" scoped>
    #app {
        display: block;
        padding: 0 21% 0 21%;
        width: 100%;
        height: 100%;

        .header {
            margin-top: 4%;
        }

        .navigation {
            margin-top: 4%;
            margin-bottom: 4%;
            border-top: 2px solid rgba(0, 0, 0, 0.2);
            border-bottom: 2px solid rgba(0, 0, 0, 0.2);

        }

    }
</style>
